*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
._*
.spotless

# Ondertekeningsgegevens - nooit committen
keystore.properties
keystore/
*.jks
